<div id="header">
  <div class="wrapper clearfix">
    <h1 id="rc_iceberg_header">Tenant</h1>
  </div>
</div>
<div class="gray_background">
  <div class="wrapper">
	<p>
	  <b>Name:</b>
	  <%= @tenant.name %>
	</p>
	<p>
	  <b>Domain:</b>
	  <%= @tenant.domain %>
	</p>
	<p>
	  <b>Subdomain:</b>
	  <%= @tenant.subdomain %>
	</p>
	<br />
	<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
	<%= link_to 'Back', tenants_path %>
  </div>
</div>
