<div class="wrapper clearfix">
  <div id="video">
    <% if Settings.use_video_placeholder %>
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
      </div>
      <div id="player" class="hidden" style="display: none;">
        <object width="512" height="385">
          <param name="movie" value="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <embed src="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
      </div>
    <% else %>
      <iframe width='512' height='385' src="<%= video_url %>"></iframe>
    <% end %>
  </div>

  <div id="backing">
    <div id="reserve_container">
      <p id="price"><%= current_tenant.product.human_price %></p>
      <a href="/order/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="ship_date"><%= Settings.ships %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
    </div>
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.completed_orders, :delimiter => "," %>
        <span>ordered</span>
      </li>
      <li class="stats" id="days">
        <%= current_tenant.product.stock %>
        <span>left in stock</span>
      </li>
    </ul>    
  </div>

</div>
