<div class="wrapper clearfix">
  <div id="product-image">
    <% # this is where the image is going to go  %>
    <img src="<%= Settings.default_product_image_path %>" />
  </div>

  <div id="backing">
    <div id="reserve_container">
      <p id="ship_date"><%= Settings.ships %></p>
      <a href="/order/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="price">$<%= current_product.price %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
      <%= like_button %>
    </div>
  </div>
</div>
