<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Check out</h3>
      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
            <p>
              Enter your email address:
              <br />
              <%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email" %>
            </p>
            <br />


            <div>
                Quantity:
                <br />
                <%= text_field_tag "quantity", "1", :disabled => "disabled" %>
                <div class="inc button quantity_button">+</div>
                <div class="dec button quantity_button">-</div>
            </div>


            <p>
              Select a payment option:
              <br />
            <p id="payment_method_description">
              All of your payment information will be secured and stored with PayPal/ Amazon Payments.
              <br />
              If you don't have an account, simply create one on the next page.
              <br />
            </p>
              <%= link_to :class => "", :id => "paypal_checkout_button" do %>
                <%= check_box_tag "paypal_payment_method", "1", :checked => "checked" %>
                <%= image_tag "paypal_small.png" %>
              <% end %>
              <%= link_to :class => "", :id => "amazon_checkout_button" do %>
                <%= check_box_tag "amazon_payment_method" %>
                <%= image_tag "amazon_small.png" %>
              <% end %>
            </p>
              <%= hidden_field_tag "preorder", true %>
              <%= hidden_field_tag "quantity", params[:quantity] %>
              <%= link_to :class => "blue_button disabled", :id => "master_checkout_button" do %>
                <span>Proceed To Checkout</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
