<div id="header">
  <div class="wrapper clearfix">
    <h1 id="rc_iceberg_header">Product</h1>
  </div>
</div>
<div class="gray_background">
  <div class="wrapper">
  <p>
    <b>Name:</b>
    <%= @product.name %>
  </p>
  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>
  <p>
    <b>Price:</b>
    <%= @product.price %>
  </p>
  <p>
    <b>Stock:</b>
    <%= @product.stock %>
  </p>
  <br />
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  </div>
</div>
